* {
  margin: 0;
  padding: 0;
}

/* FONTS */
@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: normal;
  src: local("Courgette-Regular"), url("font/Courgette-Regular") format(".ttf");
}

@font-face {
  font-family: 'Cambria';
  font-style: normal;
  font-weight: normal;
  src: local("Cambria"), url("font/cambria/Cambria") format(".ttf");
}

/* HEADER */
header .menu .desktopMenu nav {
  background-color: #9db573;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu .desktopMenu nav ul {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

header .menu .desktopMenu nav ul a {
  padding: 20px;
  text-decoration: none;
  color: white;
  font-family: 'Cambria';
  font-size: 24px;
}

header .background_image {
  background-image: url(images/header.jpg);
  background-position: center;
  background-size: cover;
  height: 90vh;
  color: #688776;
  font-family: 'Courgette';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .background_image h1 {
  font-size: 60px;
  padding: 20px;
  text-align: center;
  width: 60%;
}

header .background_image p {
  font-size: 30px;
  width: 60%;
  padding: 20px;
  text-align: center;
}

main .flower_arrangement {
  color: #688776;
  font-family: 'Cambria';
}

main .flower_arrangement h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(images/banniere_section.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 40vh;
  font-size: 40px;
  border: #688776 4px solid;
}

main .flower_arrangement article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .flower_arrangement article img {
  margin: 50px;
  width: 500px;
}

main .flower_arrangement article section {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .flower_arrangement article section p {
  font-size: 20px;
  text-align: justify;
}

main .flower_arrangement article section button {
  background-color: #688776;
  font-family: 'Cambria';
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 40px;
  cursor: pointer;
  border: #688776 solid 1px;
}

main .flower_arrangement article section button:hover {
  background-color: white;
  color: #688776;
}

main .plants {
  color: #688776;
  font-family: 'Cambria';
}

main .plants h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(images/banniere_section.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 40vh;
  font-size: 40px;
  border: #688776 4px solid;
}

main .plants article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .plants article section {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .plants article section p {
  font-size: 20px;
  text-align: justify;
}

main .plants article section button {
  background-color: #688776;
  font-family: 'Cambria';
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 40px;
  cursor: pointer;
  border: #688776 solid 1px;
}

main .plants article section button:hover {
  background-color: white;
  color: #688776;
}

main .plants article img {
  margin: 50px;
  width: 400px;
}

main .contact {
  color: #688776;
  font-family: 'Cambria';
}

main .contact h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(images/banniere_section.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 40vh;
  font-size: 40px;
  border: #688776 4px solid;
}

main .contact div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 20px;
}

main .contact div section p {
  margin: 20px;
  font-size: 25px;
  position: relative;
}

main .contact div section p:after {
  content: "";
  border-bottom: #688776 2px solid;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 55%;
}

main .contact div form {
  border: #688776 2px solid;
  background-image: url(images/succulente.jpg);
  background-position: 75% 25%;
  background-size: cover;
  border-radius: 5px;
  margin: 20px;
  width: 60%;
  padding: 20px;
}

main .contact div form h3 {
  padding: 20px;
  font-size: 26px;
}

main .contact div form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

main .contact div form div label {
  font-size: 20px;
  padding-bottom: 10px;
}

main .contact div form div input {
  border: #688776 1px solid;
  border-radius: 5px;
  padding: 5px;
  color: #688776;
  font-family: 'Cambria';
  font-size: 18px;
}

main .contact div form div textarea {
  border: #688776 1px solid;
  border-radius: 5px;
  padding: 5px;
  color: #688776;
  font-family: 'Cambria';
  font-size: 18px;
}

main .contact div form #submit {
  background-color: #688776;
  font-family: 'Cambria';
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 40px;
  cursor: pointer;
  border: #688776 solid 1px;
}

main .contact div form #submit:hover {
  background-color: white;
  color: #688776;
}

footer {
  background-color: #9db573;
  height: 70px;
}

footer p {
  color: white;
  font-family: 'Cambria';
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 609px) {
  header .menu .desktopMenu {
    display: none;
  }
  header .menu .navMobile {
    background-color: #9db573;
    height: 50px;
  }
  header .menu .navMobile .lines {
    position: absolute;
    top: 5%;
    left: 10%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 50px;
    z-index: 1;
    cursor: pointer;
  }
  header .menu .navMobile span {
    display: block;
    width: 100%;
    border-radius: 50px;
    height: 4px;
    background: #fff;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: relative;
  }
  header .menu .navMobile span + span {
    margin-top: 8px;
  }
  header .menu .navMobile .active span:nth-child(1) {
    -webkit-animation: ease .7s top forwards;
            animation: ease .7s top forwards;
  }
  header .menu .navMobile .not-active span:nth-child(1) {
    -webkit-animation: ease .7s top-2 forwards;
            animation: ease .7s top-2 forwards;
  }
  header .menu .navMobile .active span:nth-child(2) {
    -webkit-animation: ease .7s scaled forwards;
            animation: ease .7s scaled forwards;
  }
  header .menu .navMobile .not-active span:nth-child(2) {
    -webkit-animation: ease .7s scaled-2 forwards;
            animation: ease .7s scaled-2 forwards;
  }
  header .menu .navMobile .active span:nth-child(3) {
    -webkit-animation: ease .7s bottom forwards;
            animation: ease .7s bottom forwards;
  }
  header .menu .navMobile .not-active span:nth-child(3) {
    -webkit-animation: ease .7s bottom-2 forwards;
            animation: ease .7s bottom-2 forwards;
  }
  @-webkit-keyframes top {
    0% {
      top: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    50% {
      top: 12px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      top: 12px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
  }
  @keyframes top {
    0% {
      top: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    50% {
      top: 12px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      top: 12px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
  }
  @-webkit-keyframes top-2 {
    0% {
      top: 12px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    50% {
      top: 12px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      top: 0;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @keyframes top-2 {
    0% {
      top: 12px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    50% {
      top: 12px;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      top: 0;
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
  }
  @-webkit-keyframes bottom {
    0% {
      bottom: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    50% {
      bottom: 12px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      bottom: 12px;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
  }
  @keyframes bottom {
    0% {
      bottom: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    50% {
      bottom: 12px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      bottom: 12px;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
  }
  @-webkit-keyframes bottom-2 {
    0% {
      bottom: 12px;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
    50% {
      bottom: 12px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      bottom: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
  }
  @keyframes bottom-2 {
    0% {
      bottom: 12px;
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
    }
    50% {
      bottom: 12px;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      bottom: 0;
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
  }
  @-webkit-keyframes scaled {
    50% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  }
  @keyframes scaled {
    50% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
  }
  @-webkit-keyframes scaled-2 {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    50% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scaled-2 {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    50% {
      -webkit-transform: scale(0);
              transform: scale(0);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  header .menu .menuHidden {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #9db573;
    font-family: 'Cambria', sans-serif;
  }
  header .menu .menuHidden ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
    margin-top: 50px;
  }
  header .menu .menuHidden ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .menu .menuHidden ul a {
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 25px;
  }
  header .background_image h1 {
    font-size: 50px;
    padding: 10px;
  }
  header .background_image p {
    font-size: 25px;
    padding: 10px;
  }
  main .flower_arrangement h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(images/section_mobile_left.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 40vh;
    font-size: 30px;
    padding-right: 25px;
    border: #688776 4px solid;
  }
  main .flower_arrangement article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .flower_arrangement article img {
    width: 350px;
  }
  main .flower_arrangement article section {
    width: 80%;
  }
  main .flower_arrangement article section p {
    font-size: 18px;
  }
  main .plants h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(images/section_mobile_right.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 40vh;
    font-size: 30px;
    padding-left: 25px;
    border: #688776 4px solid;
  }
  main .plants article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .plants article section {
    width: 80%;
  }
  main .plants article section p {
    font-size: 18px;
  }
  main .plants article img {
    width: 300px;
  }
  main .contact h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(images/section_mobile.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 40vh;
    font-size: 40px;
    border: #688776 4px solid;
  }
  main .contact div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px;
  }
  main .contact div section p {
    font-size: 22px;
  }
  main .contact div section p:after {
    width: 90px;
  }
  main .contact div form {
    margin: 5px;
    width: 90%;
  }
  main .contact div form h3 {
    font-size: 22px;
  }
  main .contact div form div {
    width: 90%;
  }
  main .contact div form div label {
    font-size: 18px;
  }
}

@media screen and (min-width: 610px) and (max-width: 940px) {
  main .flower_arrangement article img {
    width: 350px;
    margin: 80px 10px;
  }
  main .flower_arrangement article section {
    height: 100vh;
  }
  main .plants article img {
    width: 300px;
    margin: 80px 20px;
  }
}

@media screen and (min-width: 610px) {
  .menu .navMobile {
    display: none;
  }
  .menu .menuHidden {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */